body{
    background-color: #2A2E37;
}

/* NAVBAR */
.navbar-nav{
    border:white solid 2px;
    box-shadow: 20px 20px 40px rgba(69, 69, 69, 0.804); 
}
.nav-link{
    color: rgb(210, 208, 208);
}
.navbar-brand:hover,.nav-link:hover{
    color: #BF9674;
} 
.navbar-brand{
    color: #efefef;
}
.navbar-toggler:focus,.navbar-toggler:active{
    border: #212529 solid 2px;
}
.dropdown-toggle:focus,.dropdown-toggle:active{
    border: #212529 solid 2px;
}
.fas{
    color: white;
}
.fas:hover{
    color: #BF9674;
}

/* HEADER */
.heading{
    color: #eeecec;
}
.content{
    color: rgb(210, 208, 208);
}
.btn-social-icon{
    color: rgb(210, 208, 208);
}
.btn-social-icon:hover{
    color: #BF9674;
}

/* SECTION */
.title{
    color: #eeecec;
}
.card{
    border: solid #eeecec 1px;
}
.card{
    background-color: #32312f12;
}
.card:hover{
    background-color: #b5957a17;
}
.card-header{
    color: #eeecec;
}
.card-title{
    color: #eeecec;
}
.card-text{
    color: rgb(210, 208, 208);
}
hr{
    color: rgb(210, 208, 208);
}

/* SKILL */
.skill>.tooltiptext {
    color: rgb(210, 208, 208);
}

/* PROJECT */
.project-link{
    color: rgb(210, 208, 208);
    text-decoration: underline rgb(210, 208, 208) solid;
}
.project-link:hover{
    color: #BF9674;
    text-decoration: underline #BF9674 solid;
}

/* BACK-TO-TOP */
.to-top {
    background: white;
} 

/* FOOTER */
.last-text{
    color: #eeecec;
}