@font-face{
    font-family:"BestermindRegular";
    src:url(../Styles/BestermindRegular.ttf);
    src:url(../Styles/BestermindRegular.ttf) format("embedded-opentype"),url(../Styles/BestermindRegular.ttf) format("truetype"),
}
@media (max-width: 569px){
    *{
        text-align: center;
    }
    .skill{
        text-align: left;
    }
    .navbar-brand{
        margin-right: auto;
        margin-left: 105px;
    }
}
html {
    scroll-behavior: smooth;
}
.logo{
    font-family: 'BestermindRegular', 'Mr De Haviland', cursive;
    font-weight: bold;
    margin: 10px 0px 0px 40px;
}
.dp{
    border-radius: 50%;
    max-width: 100%;
    margin-bottom: 30px;
}
.heading{
    font-family: 'Poppins', sans-serif;
    padding-top: 60px;
}
.content{
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
    color: rgb(70, 69, 69);
}
.container{
    padding-top: 40px;
}
.cover-container{
    padding-top:10px;
}
.navbar>.container{
    padding-top:17px;
}
.navbar-brand>.logo{
    margin-left: 14px;
}
.title{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.tile{
    margin: 20px 5px;
}
.skill{
    padding: 0;
}
.skill>.tooltiptext {
    visibility: hidden;
    font-family: 'Poppins', sans-serif;
    color: rgb(70, 69, 69);
    text-align: center;
}
.skill:hover>.tooltiptext {
    visibility: visible;
}
.card{
    background-color: #bf967409;
    margin: 20px;
}
.card:hover{
    background-color: #bf967417;
}
.card:hover img{
    transform: scale(1.5);
}
.frame{
    height: 200px;
    overflow: hidden;
}
.frame img{
    height: 200px;
    width: 100%;
    transition: all 1s ease;
}
.frame img:hover{
    transform: scale(1.5);
}
.card-title{
    font-family: 'Poppins', sans-serif;
}
.card-header{
    font-family: 'Poppins', sans-serif;
}
.illustration{
    max-width: 100%;
}
.project-link{
    color: rgb(70, 69, 69);
    text-decoration: underline rgb(70, 69, 69) solid;
}
.project-link:hover{
    color: #BF9674;
    text-decoration: underline #BF9674 solid;
    font-weight: bold;
    transform: scale(1.1);
}
.projects{
    text-align: right;
    padding-top: 20px;
    margin-right: 20px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 20px;
}
.to-top {
    background: white;
    position: fixed;
    bottom: 16px;
    right:20px;
    width:50px;
    height:50px;
    opacity:0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    pointer-events: none;
    transition: all .4s;
    border-radius: 50%;
  }
  
.to-top.active {
    bottom:32px;
    pointer-events: auto;
    opacity:1;
}
.navbar{
    justify-content: right;
}
ul{
    list-style: none;
    margin:0px;
    padding:0px;
}
.navbar-nav{
    border:black solid 2px;
    margin-left:auto;
    padding:10px;
    box-shadow: 20px 20px 40px rgb(224, 224, 224); 
}
.nav-link{
    text-decoration: none;
    display: inline;
    color: rgb(70, 69, 69);
    font-family: 'Poppins', sans-serif;
}
.navbar-brand:hover,.nav-link:hover{
    color: #BF9674;
    font-weight: bold;
} 
.navbar-brand{
    color: #212529;
}
.navbar-toggler:focus,.navbar-toggler:active{
    box-shadow: none;
    border: #212529 solid 2px;
}
.fas:hover{
    color: #BF9674;
}
.btn-social-icon:hover{
    color: #BF9674;
    transform: scale(1.2);
}
