@font-face{
    font-family:"BestermindRegular";
    src:url(../Styles/BestermindRegular.ttf);
    src:url(../Styles/BestermindRegular.ttf) format("embedded-opentype"),url(../Styles/BestermindRegular.ttf) format("truetype"),
}
.title{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.myDiv {
    position: relative;
    box-sizing: border-box;
    margin: auto;
    background:white;
    color:black;
    padding-bottom:4px;
}
.myDiv:after {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin-bottom: -3px; /* !importanté */
    background: linear-gradient(0.25turn, #DBE6F6, #C5796D);
}
.container{
    padding-top: 40px;
}
.bottom-text{
    font-family: 'Comforter Brush', cursive;
    font-weight: bold;
}
a{
    color: rgb(70, 69, 69);
    text-decoration: underline rgb(70, 69, 69) solid;
}
a:hover{
    color: #BF9674;
    text-decoration: underline #BF9674 solid;
    font-weight: bold;
    transform: scale(1.1);
}
.card{
    background-color: #bf967409;
}
.card:hover{
    background-color: #bf967417;
}
.card:hover img{
    transform: scale(1.5);
}
.card-title{
    font-family: 'Poppins', sans-serif;
}
.frame{
    height: 200px;
    overflow: hidden;
}
.frame img{
    height: 200px;
    width: 100%;
    transition: all 1s ease;
}
.frame img:hover{
    transform: scale(1.5);
}
.to-top {
    background: white;
    position: fixed;
    bottom: 16px;
    right:20px;
    width:50px;
    height:50px;
    opacity:0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    pointer-events: none;
    transition: all .4s;
    border-radius: 50%;
  } 
.to-top.active {
    bottom:32px;
    pointer-events: auto;
    opacity:1;
}
.home{
    font-size:xx-large;
}
.home-container{
    padding-top: 15px;
}
